:root{
  --black: #292929;
  --blue: #56BEEC;
  --orange: #FF9B26;
  --yellow: #FFC569;
  --pale-yellow: #FFEDD0;
  --ivory: #FFF4E3;
  --light-ivory: #FFFAF2;
}

html,
body {
  background: var(--light-ivory);
  padding: 0;
  margin: 0;
  font-family: 'Asap', sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

