.main {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.container2 {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 3;
}
.container3 {
    width: 40%;
    background-color: var(--blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
}

.button-prim {
    width: 10em;
    height: 3em;
    border: 0;
    border-radius: 15px;
    background-color: var(--orange);
    background-image: radial-gradient(at bottom, var(--blue) 50%, transparent 50%);
    background-repeat: no-repeat;
    transition: background-size .5s, color .5s;
    background-size: 0 0;
    background-position: 50% 100%;
    color: var(--light-ivory);
}
  
.button-prim:hover {
background-size: 200% 200%;
background-color: var(--orange);
}

.button-sec {
    width: 10em;
    height: 3em;
    background: none;
    border: 2px solid var(--light-ivory);
    border-radius: 15px;
    background-image: radial-gradient(at bottom, var(--light-ivory) 50%, transparent 50%);
    background-repeat: no-repeat;
    transition: background-size .5s, color .5s;
    background-size: 0 0;
    background-position: 50% 100%;
    color: var(--light-ivory);
}

.button-sec:hover {
    background-size: 200% 200%;
    color: var(--orange);
}

.button-text {
    border: none;
    background: none;
}
.button-text:hover {
    background: none;
}
.button-text:active {
    background: none;
    color: var(--orange);
}

.text-light {
    font-weight: bold;
    color: var(--light-ivory);
}

.text-dark {
    font-weight: bold;
    color: var(--black);
}

@media (min-width: 769px) {

}